<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <h1>Shakeane Hinds</h1>
    <p>Dog is considered to be the most preferable pet because of its faithfulness and loyalty. It is known as man’s
        best friend and that is one of the reasons for it being so popular among other pets. It can be distinguished in
        many ways, according to its character, by its genetic qualities and other traits.
    </p>
</body>

</html>